<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="MonPlugin Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./includes/</directory>
            <directory suffix=".php">./admin/</directory>
            <exclude>
                <directory suffix=".php">./includes/vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>