/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .tawp-sitemap-link {
    text-align: center;
    padding: 20px;
    background-color:black;
    color:white;
 }

 .tawp-sitemap-link > a {
    color:white;
 }
